<!DOCTYPE html>
<html>
<head>
    <title>Input Page</title>
</head>
<body>
    <h1>Enter Your Data</h1>
    <form id="myForm" action="/predict" method="post">
        <label for="Weight">Weight:</label><br>
        <input type="text" id="Weight" name="Weight"><br>
        <label for="Length1">Length1:</label><br>
        <input type="text" id="Length1" name="Length1"><br>
        <label for="Length2">Length2:</label><br>
        <input type="text" id="Length2" name="Length2"><br>
        <label for="Length3">Length3:</label><br>
        <input type="text" id="Length3" name="Length3"><br>
        <label for="Height">Height:</label><br>
        <input type="text" id="Height" name="Height"><br>
        <label for="Width">Width:</label><br>
        <input type="text" id="Width" name="Width"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

,,,,,